@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
  background-color: #fff;
}

.slick-dots li button:before {
  display: none;
}
